{{- /*gotype: github.com/paynejacob/hotcereal/pkg/providergen.Resource*/ -}}
func (p *{{ .Name }}Provider) TypeKey() store.TypeKey {
    return store.TypeKey{
        Body: "{{ .Package }}{{ .Name }}",
        PackageLength: {{ .Package | len }},
        TypeLength: {{ .Name | len }},
    }
}

func (p *{{ .Name }}Provider) ObjectKey(o *{{ .Name }}) store.ObjectKey {
    k := store.ObjectKey{
            TypeKey: p.TypeKey(),
            IdLength: len(o.{{ .KeyField.Name }}),
    }

    k.Body += o.{{.KeyField.Name}}
    return k
}

func (p *{{ .Name }}Provider) FieldKey(o *{{ .Name }}, fieldName string) store.FieldKey {
    k := store.FieldKey{
        ObjectKey: p.ObjectKey(o),
        FieldLength: len(fieldName),
    }

    k.Body += fieldName
    return k
}

