{{- /*gotype: github.com/paynejacob/hotcereal/pkg/providergen.Resource*/ -}}
func (p *{{ .Name }}Provider) Get(id string) *{{ .Name }} {
    p.mu.RLock()

    if o, ok := p.cache[id]; ok {
        p.mu.RUnlock()
        return o
    }

    p.mu.RUnlock()
    return nil
}

func (p *{{ .Name }}Provider) List() []*{{ .Name }} {
    rval := make([]*{{ .Name }}, 0)

    p.mu.RLock()

    for _, o := range p.cache {
        rval = append(rval, o)
    }

    p.mu.RUnlock()
    return rval
}

func (p *{{ .Name }}Provider) Search(query string) []*{{ .Name }} {
    results := make([]*{{ .Name }}, 0)

    p.mu.RLock()

    for _, id := range p.searchIndex.Search(query) {
        results = append(results, p.cache[id])
    }

    p.mu.RUnlock()
    return results
}
